{% extends "bootstrap/base.html" %}
{% block content %}

<div class = "container">
    <div class="jumbotron" style="background-color:#1daeff !important;">
      <h2 style="color:#fff;">Stock Predictor</h2>
    <p style="color:#fff;">Forecast made for {{company}} using 3 Machine Learning Models</p>

  </div>
    <div class = text-justify style="background-color: #F5F5F5">
         <p style="font-size: larger;color:#1daeff"> Since {{models}} out of 3 models have suggested {{final_suggestion}} ,
             we advise to <i><strong>{{final_suggestion}}</strong></i><p>
    </div>

</div>

<div>

	  <div id="first" style="width: 75%; height: 100%;  float:left;" >

              <h3 style="color:#1daeff;align-content: center;text-align: center"> <i>{{suggestion[0]}}</i> </h3>
			    <embed type="image/svg+xml" src={{graph_data[0]|safe}} style='max-width:900px'/>


	  </div>

    <div id ="second" style="width: 25%; height: 100%; float:right;">
            <h4 style="background-color:#1daeff;color:#fff;width:200px" >Prediction Results</h4>
                {% for table in tables %}
                    <p>{{table.Future_date }} {{table.Forecasted_Price}}</p>
                    {{ table|safe }}
                {% endfor %}
        </div>
</div>

<div>



	  <div id="first1" style="width: 75%; height: 100%;  float:left;" >
          <h3 style="color:#1daeff;align-content: center; text-align: center"> <i>{{suggestion[1]}} </i> </h3>
          <embed type="image/svg+xml" src={{graph_data[1]|safe}} style='max-width:900px'/>


	  </div>

    <div id ="second2" style="width: 25%; height: 100%; float:right;">
            <h4 style="background-color:#1daeff;color:#fff;width:200px" >Prediction Results</h4>
                {% for table in svm_table %}
                    <p>{{table.Future_date }} {{table.Forecasted_Price}}</p>
                    {{ table|safe }}
                {% endfor %}
        </div>
</div>

<div>



	  <div id="first2" style="width: 75%; height: 100%;  float:left;" >
          <h3 style="color:#1daeff;align-content: center;text-align: center"> <i>{{suggestion[2]}} </i> </h3>
          <embed type="image/svg+xml" src={{graph_data[2]|safe}} style='max-width:900px'/>


	  </div>

    <div id ="second3" style="width: 25%; height: 100%; float:right;">
            <h4 style="background-color:#1daeff;color:#fff;width:200px" >Prediction Results</h4>
                {% for table in linear_table %}
                    <p>{{table.date }} {{table.predicted}}</p>
                    {{ table|safe }}
                {% endfor %}
        </div>
</div>



{% endblock %}


{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

