{% extends "bootstrap/base.html" %}
{% block content %}
<marquee><i>Stock Prediction is subjected to market risk</i></marquee>
<div class = "container">
    <div class="jumbotron" style="background-color:#1daeff !important;">
      <h2 style="color:#fff;">Stock Predictor</h2>
    <p style="color:#fff;">Using Machine Learning</p>
  </div>

</div>


<div style="text-align: center;">



    <form method="POST" action="{{ url_for('predict')}}">
        <input type="text" name = "companyname" placeholder="Company tinker">
        <input type="text" name = "num_days" placeholder="no. of days to predict..">

        <div>
            <button type ="submit" class ="btn btn-primary"> Predict </button>

        </div>


    </form>

</div>




<p style="position: fixed; bottom: 30px; width:100%; text-align: center">
    Enter the company stock tinker for ex: AAPL represents Apple. Enter no.of days you want to predict.

    Prediction is done using 3 machine learning models - Prophet, Linear Regression, SVM
    You will get a plot showing the stock trends and list of predicted values for future dates</p>


</p>


{% endblock %}


{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}